<div class="added">
    <p>Dane {{name}} zostały zmienione.</p>
    <div class="addedflex">
        <a href="/client/{{id}}">Zobacz szczegóły</a>
        {{> back-to-clients}}
    </div>
</div>

