<div class="formAdd">
    <div>
        <form method="POST" action="/client">
            <label>
                <p>
                    E-mail:
                </p>
                <p>
                    <input type="email" name="email">
                </p>
            </label>

            <label>
                <p>
                    Imię:
                </p>
                <p>
                    <input type="text" name="name">
                </p>
            </label>

            <label>
                <p>
                    Data następnego kontaktu:
                </p>
                <p>
                    <input type="date" name="nextContact">
                </p>
            </label>

            <label>
                <p>
                    Notatki:
                </p>
                <p>
                    <textarea name="notes" cols="30" rows="5"></textarea>
                </p>
            </label>

            <button type="submit">Zapisz</button>
        </form>
    </div>

</div>
